.summoner-spells {
  display: flex;
  flex-direction: column;
}

.summoner {
  display: flex;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.5);
  padding: 5%;
}

.summoner > * {
  margin-right: 3%;
}

.ban-icon {
  position: relative;
  left: -22px;
  top: 5px;
}

.champion-icon img {
  border-radius: 50%;
  border: 3px solid black;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.timer {
  margin-left: auto;
}
