<div class="summoner">

  <div class="ban">
    <img src="assets/empty.png" height="32">
    <img src="assets/ban.png" height="16" class="ban-icon">
  </div>

  <div class="summoner-spells">
    <img src="assets/summoner-spells/SummonerFlash.png" height="24" width="24" alt="">
    <img src="assets/summoner-spells/SummonerDot.png" height="24" width="24" alt="">
  </div>

  <div class="champion-icon">
    <img src="assets/champions/square/null.png" height="64" width="64" alt="">
  </div>

  <div>
    <p class="champion-name">Jinx</p>
    <p class="summoner-name">StatiiX</p>
  </div>

  <div class="timer">
    <span>< 23</span>
  </div>

</div>
