.background {
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: space-between;
}

.team {
  height: 100%;
  display: flex;
  width: 50%;
  flex-grow: 1;
}

.middle {
  width: 100%;
  flex-grow: 2;
}

app-team {
  width: 100%;
}
