<div class="background">
  <div class="team">
    <app-team></app-team>
  </div>
  <div class="middle">
    <app-champion-selector></app-champion-selector>
    <app-pre-game-build></app-pre-game-build>
  </div>
  <div class="team">
    <app-team></app-team>
  </div>
</div>
